@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
	margin-top: 0;
	padding-top: 0;
	font-size: 32px;
}

.price {
	font-weight: 700;
	color: green;
	width: 75px;
	text-align: right;
}

.deathprice {
	font-weight: 800;
	color: red;
	width: 75px;
	text-align: right;
}

.death {
	font-size: 24px;
	font-weight: 800;
	padding-top: 16px;
}

.item {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	width: 90%;
	margin: 0 auto;
}